<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ashwin's Portfolio</title>
    <link rel="icon" href="https://image.flaticon.com/icons/svg/942/942799.svg">
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/index.css"> -->
    <!-- <script type="text/javascript" src="../static/js/index.js"></script> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
	<div class="workspace">
        <div onmouseover="revealOptions(this)" class="main_element">
            <p class="main_element">Ashwin's Portfolio</p>
        </div>
    </div>
</body>
</html>