<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ashwin's Portfolio</title>
    <link rel="icon" href="https://image.flaticon.com/icons/svg/942/942799.svg">

    <!-- STATIC FILES (NON-SERVER LINKS) -->
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/index.css"> -->
    <!-- <script type="text/javascript" src="../static/js/index.js"></script> -->

    <!-- STATIC FILES (SERVER LINKS) -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap" rel="stylesheet">
</head>
<body>
    <div class="clickable_area"
        onmouseover=showSecondView(this)
        onmouseout=showFirstView(this)
    >
        <div class="ap_box">
            <p>Ashwin's Portfolio</p>
        </div>

        <div class="options_wrapper">
            <div class="click_option"
                onmouseover=highlightMyStory(this)
                onmouseout=unhighlightMyStory(this)
            >
                <a href="/mystory" id="mystory-text">My Story</a>
                <hr id="mystory-underline">
            </div>
            <div class="click_option"
                onmouseover=highlightProjects(this)
                onmouseout=unhighlightProjects(this)
            >
                <a href="/projects" id="projects-text">Projects</a>
                <hr id="projects-underline">
            </div>
            <div class="click_option"
                onmouseover=highlightResume(this)
                onmouseout=unhighlightResume(this)
            >
                <a href="/resume" id="resume-text">Resume</a>
                <hr id="resume-underline">
            </div>
        </div>

    </div>
</body>
</html>