<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Options</title>
    <link rel="icon" href="https://image.flaticon.com/icons/svg/942/942799.svg">
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/indexOptions.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/indexOptions.css') }}">
</head>
<body>
    <div class="workspace">
        <div class="main_element">
            <p>Ashwin's Portfolio</p>
        </div>
        <div class="click-options">
            <p>My Story</p>
            <p>Projects</p>
            <p>Resume</p>
        </div>
    </div>
</body>
</html>